<a href="https://colab.research.google.com/github/luizfsjunior/data-science/blob/main/Analise_tabela_Salario_por_hora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

---
## Tarefa 3.3 - Análise Exploratória e Estatística Descritiva

Esta tarefa consiste em praticar a manipulação de um *dataframe* por meio da biblioteca Pandas e explorar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [ ]:
!git clone "https://github.com/malegopc/DSBD"

fatal: destination path 'DSBD' already exists and is not an empty directory.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [ ]:
import pandas as pd
import numpy as np
import statistics
# lê arquivo de dados, atribue NaN para dados faltantes
salarioHora = pd.read_csv('DSBD/Datasets/Hourly_wages/hourly_wages.csv', na_values=['?'])
salarioHora

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [ ]:
if salarioHora.isnull().values.any()== True:
  print("Há dados vazios")
else:
  print("Não há dados vazios")

Não há dados vazios

#### d-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [ ]:
salarioHora.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### e-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [ ]:
salarioSexo = salarioHora['female']
n = len(salarioSexo)
salarioSexo = round(salarioSexo.sum()/n,4)
print(str(round(salarioSexo*100,2)) + '%  Feminino')
print(str((100-round(salarioSexo*100,2))) + '% Masculino')

45.88%  Feminino
54.12% Masculino

#### f-) Calcule a proporção de casados e solteiros.

In [ ]:
salarioCasado = salarioHora['marr']
n = len(salarioCasado)
salarioCasado = round(salarioCasado.sum()/n,4)
print(str(round(salarioCasado*100,2)) + '%  Casado')
print(str((100-round(salarioCasado*100,2))) + '% Solteiro')

65.54%  Casado
34.459999999999994% Solteiro

#### g-) Calcule a proporção de funcionários filiados ao sindicato (union).

In [ ]:
salarioSidicaro = salarioHora['union']
n = len(salarioSidicaro)
salarioSidicaro = round(salarioSidicaro.sum()/n,4)
print(str(round(salarioSidicaro*100,2)) + '%  Filiado ao sindicato')
print(str((100-round(salarioSidicaro*100,2))) + '% Não filiado')

17.98%  Filiado ao sindicato
82.02% Não filiado

#### h-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [ ]:
anosEdu = salarioHora['education_yrs']
anosExp = salarioHora['experience_yrs']
anosIda = salarioHora['age']
print("Mediana anos de educação:")
print(np.median(anosEdu))
print("Mediana anos de experiência:")
print(np.median(anosExp))
print("Mediana idade:")
print(np.median(anosIda))

Mediana anos de educação:
12.0
Mediana anos de experiência:
15.0
Mediana idade:
35.0

####i-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [ ]:
print("Moda anos de educação:")
print(statistics.mode(anosEdu))
print("Moda anos de experiência:")
print(statistics.mode(anosExp))
print("Moda idade:")
print(statistics.mode(anosIda))

Moda anos de educação:
12
Moda anos de experiência:
14
Moda idade:
32

####j-) Calcule o percentil 90 da variável idade.

In [ ]:
print("Percentil 90 da variável idade:")
np.quantile(anosIda,0.90)

Percentil 90 da variável idade:

55.0

####k-) Calcule o percentil 10 da variável anos de experiência.

In [ ]:
print("Percentil 10 da anos de experiência.:")
np.quantile(anosExp,0.10)

Percentil 10 da anos de experiência.:

3.0

####l-) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [ ]:
varEdu = round(statistics.variance(anosEdu),2)
varExp = round(statistics.variance(anosEdu),2)
varIda = round(statistics.variance(anosIda),2)

if (varEdu >= varExp) and (varEdu >= varIda):
   maiorRes = varEdu
   maior = "Anos de educação"
elif (varExp >= varExp) and (varExp >= varIda):
   maiorRes = varExp
   maior = "Anos de experiência"
else:
   maiorRes = varIda
   maior = "Idade"

print("O atributo com maior variabilidade é :", maior, "\nCom um total de variabilidade:", maiorRes)

O atributo com maior variabilidade é : Idade
Com um total de variabilidade: 137.51